@charset "UTF-8";

* { 
font-family: 'Gowun Dodum', sans-serif;
}
/* 카드 애니메이션 */
.fadein {-webkit-animation: fadein 1s;}
@keyframes fadein { from { opacity: 0; } to { opacity: 1; } }

/* 상단 섹션 바 */
.mainSnsNav{
	display: flex;
	justify-content: center;
	width: 100vw;
	text-decoration: none; 
}

.liNav{
	cursor: pointer;
	font-size: 1.3rem;
	font-weight: 500;
	padding: 10px;
	margin-right: 30px;
	margin-left: 30px;
	
	background-color: transparent;
	border: none;
}

.liNav:hover::after {
	content: '';
	display: block;
	border: 1px solid lightgray;
}

.liNav.selected::after {
	content: '';
	display: block;
	border: 1px solid gray;
}

/* 글 발행 버튼 */
.writebtn {
	border-radius: 30px !important;
}

/* 이미지 관련, 마우스 이벤트 */
.card{
	overflow: hidden;
	width: 100%;
	transition: all 0.2s;
	background-color: white;
}

.card:hover{
	transform : translateY(-20px);
}

/* 이미지 출력 꽉 채우게 */
.card-img-top{
	margin: auto;
	width: 100%;
	object-fit: cover;
}

/* 마우스 가져다 대면 그레이 색상으로 판별 */
.cardDetail{
	cursor: pointer;
	text-decoration: none;
	color: black;
}
.cardDetail:hover{
	color: lightgray;
}

/* js 파일 이름, 하트 정렬 */
.card-footer{
	display: flex;
	justify-content: space-between;
}

/* js 파일 날짜 정렬 */
.card-body{
	display: flex;
	flex-direction: column;
}
.cardday{
	margin-top: auto;
}

/* 모달 디테일 뷰 */
.snsDetail{
	display: flex;
}

.detailModalImg{
	max-width: 600px;
	border-radius: 10px;
	overflow: hidden;
	margin-right: 15px;
}
#detailPhoto {
	margin: auto;
	width: 100%;
	object-fit: cover;
}
.detailModalText{
	height: 100%;
	width: 100%;
}

.ModelTextarea{
	border-radius: 10px;
	border: 1px solid lightgray;
}